registry=https://nexus.rocs.io:8081/repository/npm-public/
always-auth=true
email=govindaraj.venkatachalam@skillsoft.com
//nexus.rocs.io:8081/repository/npm-public/:_auth="ZGVwbG95bWVudDpTZXJpT3VzbHlOb3RUaGlzMSE="